@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800;900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

body
{
  padding: 0px;
  margin: 0px;
  font-family: poppins;
  overflow-x: hidden;
  background-color: #EEF0FA;
}

.tap-highlight-transparent {
    -webkit-tap-highlight-color: transparent;
    background: white;
}

.chart-container {
  width: 100%;
}

@media (min-width: 768px) {
  .chart-container {
    width: 620px;
  }
}


.custom-image::-webkit-scrollbar {
  width: 5px;
}

.chalaja::-webkit-scrollbar {
    display: none;
}

.custom-sidebar::-webkit-scrollbar{
  width: hidden;
}


#root {
    margin: 0 auto;
    padding: 0 !important;
    text-align: center;
}

:root {
  --black-gradient: linear-gradient(
    144.39deg,
    #ffffff -278.56%,
    #6d6d6d -78.47%,
    #11101d 91.61%
  );
  padding : 0;
  margin : 0;
  --card-shadow: 0px 20px 100px -10px rgba(66, 71, 91, 0.1);
}

* {
  scroll-behavior: smooth;
}
